
.section-testimonial {
    max-width: 130rem;
    height: 20vh;
    margin: 0 auto;
    background-color: rgb(162, 0, 255);
}

.testimonial {

    width: 80%;
    height: 10vh;
    margin: 0 auto;
    background-color: cyan;
}